@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-radius: 0.65rem;
    --secondary-radius: 0.25rem;

    --native-white: #F1F6F9;
    --true-white: #FFFFFF;
    --pitch-black: #000000;

    --gray: #9DB2BF;
    --lavender: #9376E0;
    --green: #03C988;
    --not-red: #FF0060;
}

html {
    scroll-behavior: smooth;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--lavender);
    color: var(--pitch-black);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'DM Sans', sans-serif;
}

.App {
    width: 22rem;
    border-radius: 0.5rem;
    background-color: var(--true-white);
    padding: 1.15rem;
    margin: 4rem 0;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    box-shadow: 0px 8px 24px rgb(0, 0, 0, 30%);
}

.title {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.transaction-history {
    display: flex;
    flex-direction: column;
}

.history-title, .transaction-form-title {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 0.5rem;
}

.transactions-container {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-form {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 12px rgb(0, 0, 0, 18%);
}

.transaction-name-input-box, .transaction-amount-input-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    font-size: 1rem;
    font-weight: 500;
}

.transaction-name-input, .transaction-amount-input {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--gray);
    outline: none;
}

.transaction-type-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.radio-input {
    display: flex;
    gap: 0.5rem;

    font-size: 1rem;
    font-weight: 500;
}

.submit-button {
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    background-color: var(--lavender);
    color: var(--true-white);
    font-weight: 500;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
